<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Student Details</title>
    <link rel="stylesheet" href="/static/css/styles.css">
</head>
<body>
    <div class="container">
        <h1>Student Details</h1>
        <p><strong>First Name:</strong> {{.FirstName}}</p>
        <p><strong>Last Name:</strong> {{.LastName}}</p>
        <p><strong>Birthdate:</strong> {{.Birthdate}}</p>
        <button onclick="window.location.href='/'" class="header-btn">Back to All Students</button>
    </div>
</body>
</html>